---
layout: page
---

<p>
We meet monthly in the Phoenix Arizona area typically on the last Tuesday of the month.
</p>

<p>See schedule and topics at <a href="http://meetup.com/ionic-az">http://meetup.com/ionic-az</a>

{% include mailchimp.html %}

{% assign count = site.posts | size %}
{% if count > 1 %}
<h3>Previous Newsletters</h3>
{% endif %}

<ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
{% endfor %}
</ul>
